pytest

testbook
nbformat

torch
torchvision
galois
cvxpy
pyqsp
jsonpickle
tensorboard
qiskit<2
qiskit-algorithms
qiskit-machine-learning
scikit-learn

openfermion
openfermionpyscf
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
